*.res
*.exe
*.dll
*.lib
*.obj
*.exp
*.tlog
*.pch
*.log
*.pdb
*.cache
*.manifest
*.lastbuildstate
*.ipch
*.sdf
*.opensdf
*.suo
*.ilk
*.user
*.lnk
*.aps
.vs/
[Dd]ebug/
[Rr]eleases/
x64/
x86/
ipch/
client/Debug
resource.aps
*.idb
*.user
Release/
Debug/
bin/obj/
